# Virtual environment
venv/
.env
*.env
*.save

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and local files
logs/
*.log
*.out
*.pid

# IDE and editor specific files
.vscode/
.idea/
*.iml

# Bytecode cache
*.pyc
*.pyo
*.pyd
__pycache__/


# Testing and debugging
pytest_cache/
junit.xml

.vercel
